<!-- [...] -->

<div class="p-5 search-form text-center">
  <%= simple_form_for :search, method: "get" do |f| %>
    <%= f.input :location %>
    <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= link_to 'Search', pets_path, class: "btn-pets mt-4"  %>
  <% end %>
</div>

