<!-- [...] -->

<div class="container p-5 search-form">
  <%= simple_form_for :search, method: "get" do |f| %>
    <%= f.input :location %>
    <%= f.input :starts_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :ends_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.button :submit, "Search", class: "btn btn-pets" %>
  <% end %>
</div>

