<div class="banner text-center">
  <div class="container">
    <h1 class="banner-title">Fur Real</h1>
    <p>Hire Your Pet Best Friend Today!</p>
    <br>
    <%= form_tag(pets_path, method: 'get') do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag("Sniff out", name: nil) %>
      <%#= add a link_to for the index page as the result of clicking on the sniff out button %>
    <% end %>
  </div>
</div>

<div id='content'>
<div class="container text-center">
  <br>
  <h2><strong>Today's top good boys near you:</strong></h2>
  <br>
  <div class="cards">
      <% @pets.sample(6).each do |pet| %>
        <%= link_to pet_path(pet) do %>
        <div class="card">
          <h2><%= pet.name %></h2>
          <h3><%= pet.species %></h3>
          <p>$<%= pet.price_per_day %> / <em>day</em></p>
          <p>"<%= pet.description %>"</p>
          <div class='card-image-container'>
            <% if pet.photos.any? %>
            <%= cl_image_tag pet.photos.first.key, height: 300, width: 300, crop: :fill, class: 'card-image' %>
            <% else %>
            <%= image_tag "default.jpg", alt: "alttext" %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
</div>
