<div class="banner px-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url( '<%= asset_path("pets_banner.jpg") %>')">
  <div class="row">
      <div class="col-md-5 m-5">
        <h1 class="banner-title text-center">Fur Real</h1>
        <p class="text-center">Hire Your Pet Best Friend Today!</p>
        <%= render 'home_search_form' %>
      </div>
    </div>
  </div>
</div>

<div id='content'>
<div class="container text-center">
  <br>
  <h2><strong>Today's top good boys near you:</strong></h2>
  <br>
  <div class="cards">
      <% @pets.sample(6).each do |pet| %>
        <%= link_to pet_path(pet) do %>
          <div class="card">
            <h2><%= pet.name %></h2>
            <h3><%= pet.species %></h3>
            <p>$<%= pet.price_per_day %> / <em>day</em></p>
            <p>"<%= pet.description %>"</p>
            <div class='card-image-container'>
              <% if pet.photos.any? %>
              <%= cl_image_tag pet.photos.first.key, height: 300, width: 300, crop: :fill, class: 'card-image' %>
              <% else %>
              <%= image_tag "default.jpg", alt: "alttext" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
  <br>
  <%= link_to "Show all", pets_path, class: 'btn btn-pets' %>
</div>
</div>
