<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://petsrus.com.au/uploads/images/group-of-animals.jpg);">
  <div class="container">
    <h1 class="banner-title">Fur Real</h1>
    <p>Hire Your Pet Best Friend Today!</p>
    <br>
    <%= form_tag(pets_path, method: 'get') do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag("Sniff out", name: nil) %>
      <%#= add a link_to for the index page as the result of clicking on the sniff out button %>
    <% end %>
  </div>
</div>

<div class="container text-center">
  <br>
  <h2><strong>Today's top good boys near you:</strong></h2>
  <br>
  <div class="cards">
    <% @pets.each do |pet| %>
      <div class="card">
        <h2><%= link_to "#{pet.name} (#{pet.species})", pet_path(pet)%></h2>
        <p>$<%= pet.price_per_day %> <em>per day</em></p>
        <p><%= pet.description %></p>
        <div class='card-image-container'>
          <% if pet.photos.any? %>
          <%= cl_image_tag pet.photos.first.key, height: 300, width: 300, crop: :fill, class: 'card-image' %>
          <% else %>
          <%= image_tag "default.jpg", alt: "alttext" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
