<h1>Pets#new</h1>
<p>Find me in app/views/pets/new.html.erb</p>

<div class="container">
  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :name %>
    <%= f.input :species %>
    <%= f.input :description %>
    <%= f.input :price_per_day %>
    <%= f.input :photo %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Back", pets_path %>
</div>
