<div class="container">
  <div class="row">
    <div class="col-6 pet-show-image bg-white">
      <%= cl_image_tag(@pet.photos.first.key)%>
    </div>
    <div class="col-6 m-0 h-10">
      <div
        id="map"
        style="width: 100%;
        height: 300px;
        margin:30px"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-6">
      <div class="pet-info ml-3 mt-5">
        <h5>Name: </h5>
        <p><%= @pet.name %></p>
        <h5>Species: </h5>
        <p><%= @pet.species %></p>
        <h5>About Me: </h5>
        <p> <%= @pet.description %> </p>
        <h5>My Crib:</h5>
        <p> London </p>
        <h5>Price: </h5>
        <p> $<%= @pet.price_per_day %> per day </p>
      </div>
    </div>
    <div class="col-6">
      <div class="container bookings_form p-5">
        <h1>Play with me!</h1>
        <%= render "shared/booking_form" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container reviews_index p-5">
        <h1>Reviews:</h1>
        <br>
        <% if @reviews.nil? %>
          <p>Be the first to leave a review</p>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews-cards">
              <h5><%= review.booking.user.first_name %>:</h5>
              <p><%= review.content %></p>
              <p><%= "*" * review.rating %></p>
              <br>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to "Back", pets_path, class: "btn btn-primary m-5" %>


