<div class="container">
  <div class="pet_profile d-flex flex-row justify-content-center">
    <%= cl_image_tag(@pet.photos.first.key,
      width: 700, height: 400, crop: :fill)%>
    <div class="pet-info ml-3">
      <h1> <%= @pet.name %> the <%= @pet.species %> </h1>
      <p> <%= @pet.description %> </p>
      <p> London </p>
      <h5> $<%= @pet.price_per_day %> per day </h5>
    </div>
  </div>

  <div class="bookings_form m-5">
    <h1>Create Booking:</h1>
    <%= render "shared/booking_form" %>
  </div>

  <div class="reviews_index m-5">
    <h1>Reviews:</h1>
    <% if @reviews != nil %>
      <% @reviews.each do |review| %>
        <div class="reviews-cards">
          <%= review.content %>
          <%= "*" * review.rating %>
        </div>
      <% end %>
    <% else %>
      <p>No reviews yet</p>
    <% end %>
  </div>

  <%= link_to "Back", pets_path, class: "btn btn-primary m-5" %>

</div>


<%#= render 'shared/booking_form' %>

