<div class="container">
  <% @upcoming_bookings.each do |booking| %>
    <% if booking.user == @user %>
      <%= link_to pet_path(booking.pet) do %>
        <div class='row border-bottom'>
          <div class="col-12 card-product" style='margin: 20px'>
            <%= cl_image_tag(booking.pet.photos.first.key) %>
            <div class="card-product-infos ml-4">
              <h2><%= booking.pet.name %></h2>
              <p><%= booking.start_date.strftime("%a, %d %B, %Y") %> - <%= booking.end_date.strftime("%a, %d %B, %Y") %> </p>
              <% if Time.now > booking.end_date %>
                <%= link_to new_booking_review_path(booking) do %>
                    <button class="btn btn-primary" style='margin: 10px'>Add a review</button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
