<div class="container">
  <div class="row justify-center-center">
    <div class="col-md-8">

    <%= simple_form_for([@booking, @review]) do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>

<%= link_to "Back", bookings_path, class: "btn btn-primary" %>
