<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/misc-vol-6/512/cat-dog-animals-pet-pets-domestics-512.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FurReal</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
<!--     <link rel="stylesheet" href="mapbox-gl/dist/mapbox-gl.css"> Uncomment if you import CSS in app/javascript/packs/application.js
 -->  </head>
  <body>
    <% unless params[:controller] == 'pets' && params[:action] == 'home' %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
  </body>
</html>
